$bodyBg: #85b8cc;
$mainBg: rgb(204, 216, 212);
$mainColor: #087c6f;
$txtColor: #4E4D4F;
$purple: #addfa2;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #1ef076;

$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
